/*Style global*/
body {
    font-family: arial, sans-serif;
    background: #f5f6fa;
    margin: 0;
    padding: 40px;
    display: grid;
    justify-content: center;
}

/*container princial*/
.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    /* border-radius: 12px; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Onglets de */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    
    text-align: left;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #6b7280;
    border: 1px solid #ddd;
    background-color: white;
}

.tab.active {
    color: #7c3aed;
    border-bottom: 2px solid #bd00f7;
}

/* Liste des taches */
.task-content .task {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

/* .hidden-list {
    list-style: none;
    margin: 0;
     color: #7c3aed;
    font-size: 16px;
    font-weight: 600;
} */
#check{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
form {
    margin: 0;
    font: bold;
    font-size: 16px;
    font-weight: 600;
}
.due, .task-description{
    padding-left: 20px;
}

.task-description {
    margin: 5px 0;
    font-size: 13px;
    color: #555;
}

.task .due,
.task .assigned {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.actions-container {
    background: #fff;
    width: 420px;
    padding: 25px;
    min-height: 30px;
    border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Formulaire ajout */
.add-list {
    margin-top: 20px;
}

.add-task input,
.add-task textarea {
    width: 95%;
    margin-bottom: 8px;

    padding: 14px 16px; 
    border: none;
    font-size: 14px;
}

/* Button */
.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 500;
    transition: 0.3s;
}

.actions .add {
    background: #9508f3;
    color: #fff;
}

.actions .cancel {
    background: #cac8c8;
    color: #fff;
}

.actions button:hover {
    opacity: 0.85;
}